# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Private configs
config.yaml
tasks.yaml
settings.yaml
ads.json
sources.yaml
notification_agents.yaml
scrapers.yaml

# logs
logs/

# Tests
*test*
*.bak
